/* text highlight color */
::selection {
    background: #FA8072; /* WebKit/Blink Browsers */
    color: #fff;
}

::-moz-selection {
    background: #FA8072; /* Gecko Browsers */
    color: #fff;
}

html {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 24px;
}

a {
    color: #FA8072;
}

a:hover {
    opacity: 0.85;
}

select {
    float: right;
    font-family: Roboto;
    width: calc(100% - 140px);
    border: 1px solid #000;
    margin-bottom: 20px;
}

.left {
    position: fixed;
    top: 20px;
    left: 3%;
    width: 40%;
    min-width: 300px;
    height: auto;
    margin-bottom: 20px;
    background: #fff;
}

.right {
    top: 2.5%;
    position: absolute;
    right: 0.5%;
    width: 50%;
    min-width: 300px;
    height: auto;
}

.code {
    resize: vertical;
    width: calc(100% - 22px);
    height: 300px;
    background-color: #FFE9E6;
    border-color: #000;
    outline-color: #000;
    padding: 10px;
}

.submit {
    color: #fff;
    border: none;
    background-color: #000;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.submit:hover {
    opacity: 0.85;
    cursor: pointer;
}

.pattern {
    padding-top: 20px;
    width: 100%;
    height: auto;
}

#back2Top {
    display: none;
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #FA8072;
    color: #fff;
    text-align: center;
    font-size: 20px !important;
    text-decoration: none;
    border-radius: 20px;
}

#back2Top:hover {
    opacity: 0.85;
}

@media screen and (max-width: 1100px) {
    .code {
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    .left {
        position: relative;
        width: calc(100% - 60px);
        height: auto;
        left: 30px;
    }

    .right {
        top: 40px;
        position: relative;
        left: 30px;
        width: calc(100% - 40px);
        height: auto;
    }
}
